<header class="sitewide">
    <h1>
        <a href="https://github.com/AnotherKamila/html5spevnik">
            AnotherKamila/<span class="hl">html5spevnik</span><br /><small>@ GitHub</small>
        </a>
    </h1>
    <nav>
        <a href="index.html">home</a>
        <a href="PIRATEME.html">license</a>
        <a href="source.html">source</a>
        |
        <a href="build/spevnik.html">try me</a>
    </nav>

    <a href="http://github.com/AnotherKamila/html5spevnik"><img style="position: absolute; top: 0; right: 0; z-index: -1" src="assets/forkme.png" alt="Fork me on GitHub"></a>
    <div class="sawtooth"></div>
</header>
